@import "../variables.scss";
@import "../mixins.scss";

._container {
    min-height: 20px;
    position: relative;

    &:hover {
        &:before {
            border: 2px solid $ui-color;
            content: " ";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
		
        &:after {
            background: $ui-color;
            content: " ";
            height: 20px;
            left: 2px;
            position: absolute;
            top: 2px;
            width: 20px;
        }
    }
}